.task-name {
  width: 100%;
}

.task-start-date {
  width: 50%;
  margin-right: 20px;
}

.task-end-date{
  width: 40%;
  margin-left: 20px;
}
.task-time {
  width: 40%;
}

.task-description {
  width: 100%;
}

.no-hover {
  background: none;
}
