<div class="calendar">
  <div
    class="calendar-header"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="30px"
  >
    <mat-form-field>
      <mat-label>Месяц</mat-label>
      <select
        matNativeControl
        [(ngModel)]="currentMonth"
        required
        (change)="onSelectMonth()"
      >
        <option *ngFor="let month of monthsList" [ngValue]="month">{{
          month.name
        }}</option>
      </select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Год</mat-label>
      <select
        matNativeControl
        required
        (change)="onSelectYear()"
        [(ngModel)]="currentYear"
      >
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="grid">
      <mat-card class="day-form" *ngFor="let day of days">
        <div
          class="day-header"
          [ngClass]="{ 'text-gray': day.date.getMonth() !== currentMonth.id }"
        >
          <div class="day-name">
            {{ day.date.toLocaleString("ru-ru", { weekday: "long" }) }}
          </div>
          <div class="day-number" [ngClass]="{ circle: day.currentDate }">
            {{ day.date.getDate() }}
          </div>
        </div>
        <div
          class="tasks"
          fxLayout="column"
          fxLayoutAlign="space-evenly center"
        >
          <div
            class="task"
            *ngFor="let task of day.tasks"
            [style.background-color]="task.category.color"
          >
            <div *ngIf="task.category.checked">{{ task.name }}</div>
          </div>
        </div>
      </mat-card>
    </div>

    <app-categories></app-categories>
  </div>
</div>
