<div class="calendar">
  <div fxLayout="row">
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="grid">
      <mat-card class="day-form" *ngFor="let day of days">
        <div
          class="day-header"
          [ngClass]="{ 'text-gray': day.date.getMonth() !== selectedMonth.id }"
        >
          <div class="day-name">
            {{ day.date.toLocaleString("ru-ru", { weekday: "long" }) }}
          </div>
          <div class="day-number" [ngClass]="{ circle: day.currentDate }">
            {{ day.date.getDate() }}
          </div>
        </div>
        <div
          class="tasks"
          fxLayout="column"
          fxLayoutAlign="space-evenly center"
        >
          <div
            class="task"
            *ngFor="let task of day.tasks"
            [style.background-color]="task.category.color"
          >
            <div *ngIf="task.category.checked" (click)="openTask(task)">
              {{ task.name }}
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
